<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Pabloacostatec-A01794035-/blob/main/Actividad%20de%20semana%201%20-%202%3A%20Python%20for%20Data%20Science%20(IBM)%20-%20Pablo%20Acosta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso Python Juan Pablo Acosta, matrícula A01794035

#My first program:

In [ ]:
#This line prints 'hellos python'

Print('Hello Python 101')

In [ ]:
print("Hello\nWorld!")

Hello
World!

#Module1:
##Variable types notes:

Int: Enteros (1)
float: Número con decimales (1.1)
Bool: Binario (True y False)
str: Texto (Hola)

In [ ]:
#cast bool to true
bool(1)

True

##Expressions and variables

Operands: numbers

Operator: 

 "+" sum

 "-" resta 

 "/" division "//" Division redondeada
 
 "*" multp

##Strings functionality

String is an order of sequence access by

Variable[]
len() = string lenght

use "+" to concatenate

Use "*" operator to repeat string

Use "\n" espace

Use "\t" for tab

methods change strings i.e ".find" to find the character position in a string

In [ ]:
name = 'Lizz'
print(name[0:2])

Li

Section 2: List and tuples

Tuples: Ordered sequences that are not modifiable (Tuples are contained in brackets)

Lists: Ordered sequences that are modifiable (Lists are contained in square brackets)

In [5]:
# Tuple

T = (1,2,3)
# T(0) = 4 this line doesn't work

#List
L = [1,2,3]
L[0] = 99
L

[99, 2, 3]

In [6]:
#Considering:

B=["a","b","c"]

#What is the result of the following B[1:]?

B[1:]

['b', 'c']

#Module 2
##Tuples Lab

Consider the following tuple:

sample tuple 

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")

In [8]:

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

#Find the length of the tuple, genres_tuple:

len(genres_tuple)

#Access the element, with respect to index 3:

genres_tuple[3]

#Use slicing to obtain indexes 3, 4 and 5:

genres_tuple[3:6]

#Find the first two elements of the tuple genres_tuple:

genres_tuple[0:2]

#Find the first index of "disco":

genres_tuple.index("disco")

#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

tuple = (-5,1,-3)
C_tuple = sorted(tuple)
C_tuple

[-5, -3, 1]

##Lists Lab

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [11]:
a_list = [1,'hello',[1,2,3],True]
a_list

a_list[1]

#Find the value stored at index 1 of a_list.
a_list[1]

#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

#Concatenate the following lists <code>A = \[1, 'a']</code> and <code>B = \[2, 1, 'd']</code>:

A = [1,'a']
B = [2,1,'d']
C = A+B
C

[1, 'a', 2, 1, 'd']

##Sets Lab

In [19]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:

MyList = ['rap','house','electronic music', 'rap']
MySet = set(MyList)
MySet

#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

Test = sum(A)==sum(B)
Test

#Create a new set album_set3 that is the union of album_set1 and album_set2:

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
album_set3

#Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

set(album_set1).issubset(album_set3) #Result is true

True

##Dictionaries

In [27]:
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic 

 #In the dictionary soundtrack_dic what are the keys ?

soundtrack_dic.keys()

# In the dictionary soundtrack_dic what are the values

soundtrack_dic.values()

#The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 and 65 respectively:
#a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

album_sales_dict = {'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}
album_sales_dict

album_sales_dict['Thriller']
album_sales_dict.keys() #get all the keys in the dictionary
album_sales_dict.values() #get all the keys in the dictionary

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

#Module 3: Python fundamentals
##Conditions and branching