<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Pabloacostatec-A01794035-/blob/main/Actividad%20de%20semana%201%20-%202%3A%20Python%20for%20Data%20Science%20(IBM)%20-%20Pablo%20Acosta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso Python Juan Pablo Acosta, matrícula A01794035

####Your first program:

In [ ]:
#This line prints 'hellos python'

Print('Hello Python 101')

In [1]:
print("Hello\nWorld!")

Hello
World!

####Variable types notes:

Int: Enteros (1)
float: Número con decimales (1.1)
Bool: Binario (True y False)
str: Texto (Hola)

In [3]:
#cast bool to true
bool(1)

True

#Expressions and variables

Operands: numbers

Operator: 

 "+" sum

 "-" resta 

 "/" division "//" Division redondeada
 
 "*" multp

#Strings functionality

String is an order of sequence access by

Variable[]
len() = string lenght

use "+" to concatenate

Use "*" operator to repeat string

Use "\n" espace

Use "\t" for tab

methods change strings i.e ".find" to find the character position in a string

In [4]:
name = 'Lizz'
print(name[0:2])

Li