<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Pabloacostatec-A01794035-/blob/main/Semana_3_Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Semana 3: Python for Data Science**

Alumno: Juan Pablo Acosta

Matrícula : A01794035

Materia Ciencia y analítica de datos

Profesor titular: Jobish Vallikavungal Devassia

Profesor tutor: Victoria Guerrero Orozco

Fecha 02/10/2023

#Sección 1: trabajando con arreglos de numpy

Los arreglos de numpy son matrices de un sólo tipo de valor que pueden ser transformadas, además los arreglos de numpy ya tienen funciones incluidas como suma, resta multiplicación y división de vectores.

la función que se utiliza para declarar un arreglo es: np.array

#Ejercicios de Lab de arreglos de numpy

In [130]:
import numpy as np

In [131]:
#Implement the following vector subtraction in numpy: u-v

u = np.array([1, 0])
v = np.array([0, 1])

Subs = u-v

np.array(Subs)

# Multiply the array *2

z = np.array([2, 4])
Mult = z*2

np.array(Mult)

#Consider the list [1, 2, 3, 4, 5] and [1, 0, 1, 0, 1]. Cast both lists to a numpy array then multiply them together:

l1 = np.array([1,2,3,4,5])
l2 = np.array([1,0,1,0,1])

MultArray = l1*l2
MultArray

array([1, 0, 3, 0, 5])

In [132]:
from ssl import VerifyMode
import time 
import sys


import matplotlib.pyplot as plt
%matplotlib inline  

def Plotvec2(a,b):
    ax = plt.axes()# to generate the full window axes
    ax.arrow(0, 0, *a, head_width=0.05, color ='r', head_length=0.1)#Add an arrow to the  a Axes with arrow head width 0.05, color red and arrow head length 0.1
    plt.text(*(a + 0.1), 'a')
    ax.arrow(0, 0, *b, head_width=0.05, color ='b', head_length=0.1)#Add an arrow to the  b Axes with arrow head width 0.05, color blue and arrow head length 0.1
    plt.text(*(b + 0.1), 'b')
    plt.ylim(-2, 2)#set the ylim to bottom(-2), top(2)
    plt.xlim(-2, 2)#set the xlim to left(-2), right(2)

#Convert the list [-1, 1] and [1, 1] to numpy arrays a and b. Then, plot the arrays as vectors using the fuction Plotvec2 and find their dot product:

u = np.array([-1, 1])
v = np.array([1, 1])

#Plotvec2(u,v)

#Convert the list [1, 0] and [0, 1] to numpy arrays a and b. Then, plot the arrays as vectors using the function Plotvec2 and find their dot product:

u = np.array([1, 0])
v = np.array([0, 1])

dot = np.dot(u,v)
#Plotvec2(u,v)
print(dot)

#Convert the list [1, 1] and [0, 1] to numpy arrays a and b. Then plot the arrays as vectors using the fuction Plotvec2 and find their dot product:

u = np.array([1, 1])
v = np.array([0, 1])

dot = np.dot(u,v)
#Plotvec2(u,v)
print(dot)

#Why are the results of the dot product for [-1, 1] and [1, 1] and the dot product for [1, 0] and [0, 1] zero, but not zero for the dot product for [1, 1] and [0, 1]? 

#Vectorial dot products is basically the cast of one vector into the other, the first two vector cannot cast into the others and the third, can.

#Convert the list [1, 2, 3] and [8, 9, 10] to numpy arrays arr1 and arr2. Then perform Addition , Subtraction , Multiplication , Division and Dot Operation on the arr1 and arr2.

u = np.array([1,2,3])
v = np.array([8,9,10])

Addi = u+v
Subs = u-v
Mult = u*v
Divi = u/v
DotOper = np.dot(u,v)

#Convert the list [1, 2, 3, 4, 5] and [6, 7, 8, 9, 10] to numpy arrays arr1 and arr2. Then find the even and odd numbers from arr1 and arr2.

u = np.array([1,2,3,4,5])
v = np.array([6,7,8,9,10])

x = u[1:8:2]
x
   
y = v[0:8:2]
y  

x = u[1:8:1]
x
   
y = v[1:8:2]
y

0
1

array([7, 9])

##Ejercicios de Lab, arreglos multidimensionales

In [133]:
#Consider the following list a, convert it to Numpy Array.

a = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

Array = np.array(a)

#Calculate the numpy array size.

Array.size

#Access the element on the first row and first and second columns.

Array[:,0:2]
#Perform matrix multiplication with the numpy arrays A and B.

b = np.array([[0, 1], [1, 0], [1, 1], [-1, 0]])

Mult = np.dot(a,b)
Mult

array([[ 1,  4],
       [ 5, 12],
       [ 9, 20]])

#Sección API's

API's son protocolos de llamado entre dos piezas de software, comunmente utilizadas para utilizar los distintos servicios web, existen varios tipos de APIs

REST

SOAP

JSON

...
ETC

##Laboratorio de https

En esta sección se van a hacer ejercicios para obtener información de un sitio web con el método "GET", en este caso el servicio web es un servicio de prueba proveído por IBM.com

In [134]:
import requests
import os 
from PIL import Image
from IPython.display import IFrame

In [135]:
url='https://www.ibm.com/'
r=requests.get(url)
r
header=r.headers
#print(r.headers)
print(r.request.headers)
header['date']
header['Content-Type']
r.text[0:100]
r=requests.get(url)

{'User-Agent': 'python-requests/2.23.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Cookie': '_abck=DEA0181CD579A11D4C93A5D5F91E8DD3~-1~YAAQtQNAF3vbWFmDAQAAHIZBmgiwlDtD6PyYGqFM1Ko8ba+h8mQs9jVSG0uAT0ynB3VxOqpbpNSmzjf6vNUXJIhktujboE1K6JLfxYRtKdfg4ocI/P/WsRbR0kIktU4M4IBWHYz3In+eJqWZPfeb4qhjx88h3OuJmOOa4K4NLXtuEvbZahKjj6ad6o7gd7cK4pyP1gpbar219I40HO70Voqd03EFwwT27xNttGv7wHM6HoCxnYNaGsn1qsiIkTb49Nl17q0AQ6GTv6HJAM1OuJ5xBN3ReHPFCszZRaMGgs0qXbjIex7usq2QwpPErzjzvaqcmBmUgaWwXH8HWUD9JMqORoO8binDNmunKRnmvq1hZMoisO4=~-1~-1~-1; bm_sz=3AF1BD1B47B5B15682693D20947FA0DF~YAAQtQNAF3zbWFmDAQAAHIZBmhHN4z+GcjLZmaKQGTCjdnjxkeL4I5CFJBCrSaGE65O1b0FOMLve6BrQ2Nh5n/5pVlx/8+9yAzpx7ve6K31eHokDji2q7kxuMrJcBKvidOyaRsLcw3Ff20nrxcMwMocKTE8cbp18Grwcqp3y3Tz0Cif8aN0sn58wOR6lI5NaS1J29P6/QoPTq0qhdMF7cWMSSLy3YbtCoUTc/g160poXZlnVIIcjbWut2thnmUReB1EXG0XBvCNvcTol7GtMcCezsa85o8ghyvlxwysoxog=~3618883~3294006'}

In [136]:
url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Example1.txt'
path=os.path.join(os.getcwd(),'Example.txt')
r=requests.get(url)
with open(path,'wb') as f:
    f.write(r.content)
r,header

(<Response [200]>,
 {'Server': 'Apache', 'Last-Modified': 'Mon, 26 Sep 2022 12:10:36 GMT', 'ETag': '"182c6-5e9936a544ba1-gzip"', 'Accept-Ranges': 'bytes', 'Content-Encoding': 'gzip', 'Content-Type': 'text/html', 'Cache-Control': 'max-age=3600', 'Expires': 'Sun, 02 Oct 2022 20:52:09 GMT', 'X-Akamai-Transformed': '9 21429 0 pmb=mTOE,2', 'Date': 'Sun, 02 Oct 2022 19:52:09 GMT', 'Content-Length': '21615', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding', 'x-content-type-options': 'nosniff', 'X-XSS-Protection': '1; mode=block', 'Content-Security-Policy': 'upgrade-insecure-requests', 'Strict-Transport-Security': 'max-age=31536000'})

In [137]:
url_get='http://httpbin.org/get'
payload={"name":"Joseph","ID":"123"}
r=requests.get(url_get,params=payload)
r.url
print("request body:", r.request.body)
print(r.status_code)
print(r.text)
r.headers['Content-Type']
r.json()
r.json()['args']

request body: None
200
{
  "args": {
    "ID": "123",
    "name": "Joseph"
  },
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Host": "httpbin.org",
    "User-Agent": "python-requests/2.23.0",
    "X-Amzn-Trace-Id": "Root=1-6339ebe9-6257f50e573fbc026788fb68"
  },
  "origin": "34.83.9.237",
  "url": "http://httpbin.org/get?name=Joseph&ID=123"
}

{'ID': '123', 'name': 'Joseph'}

In [138]:
url_post='http://httpbin.org/post'
r_post=requests.post(url_post,data=payload)
print("POST request URL:",r_post.url )
print("GET request URL:",r.url)
print("POST request body:",r_post.request.body)
print("GET request body:",r.request.body)
print("POST request body:",r_post.request.body)
print("GET request body:",r.request.body)

POST request URL: http://httpbin.org/post
GET request URL: http://httpbin.org/get?name=Joseph&ID=123
POST request body: name=Joseph&ID=123
GET request body: None
POST request body: name=Joseph&ID=123
GET request body: None

##Laboratorio de API

En esta sección se van a hacer pruebas de llamado de API's a través del método

In [139]:
!pip install randomuser

from randomuser import RandomUser
import pandas as pd

r = RandomUser()

some_list = r.generate_users(10)

some_list

name = r.get_full_name()

#In this Exercise, generate photos of the random 5 users.

for user in some_list:
    print (user.get_full_name()," ",user.get_email(),user.get_picture())

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: randomuser in /usr/local/lib/python3.7/dist-packages (1.6)
Vilje Sandal   vilje.sandal@example.com https://randomuser.me/api/portraits/women/48.jpg
Ed Cox   ed.cox@example.com https://randomuser.me/api/portraits/men/85.jpg
مهدیس پارسا   mhdys.prs@example.com https://randomuser.me/api/portraits/women/77.jpg
Silke Kienzle   silke.kienzle@example.com https://randomuser.me/api/portraits/women/27.jpg
Neusa Farias   neusa.farias@example.com https://randomuser.me/api/portraits/women/33.jpg
Samu Remes   samu.remes@example.com https://randomuser.me/api/portraits/men/91.jpg
Carl Reed   carl.reed@example.com https://randomuser.me/api/portraits/men/48.jpg
آوا سلطانی نژاد   aw.sltnynjd@example.com https://randomuser.me/api/portraits/women/33.jpg
آوا جعفری   aw.jaafry@example.com https://randomuser.me/api/portraits/women/82.jpg
Oliver Singh   oliver.singh@example.com https://randomuser.me/api/portraits/men/81.jpg

In [140]:
#To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [141]:
import requests
import json

data = requests.get("https://www.fruityvice.com/api/fruit/all")
results = json.loads(data.text)
pd.DataFrame(results)

df2 = pd.json_normalize(results)
df2

,genus,name,id,family,order,nutritions.carbohydrates,nutritions.protein,nutritions.fat,nutritions.calories,nutritions.sugar
0,Malus,Apple,6,Rosaceae,Rosales,11.40,0.30,0.40,52,10.30
1,Prunus,Apricot,35,Rosaceae,Rosales,3.90,0.50,0.10,15,3.20
2,Musa,Banana,1,Musaceae,Zingiberales,22.00,1.00,0.20,96,17.20
3,Rubus,Blackberry,64,Rosaceae,Rosales,9.00,1.30,0.40,40,4.50
4,Fragaria,Blueberry,33,Rosaceae,Rosales,5.50,0.00,0.40,29,5.40
5,Prunus,Cherry,9,Rosaceae,None,12.00,1.00,0.30,50,8.00
6,Durio,Durian,60,Malvaceae,Malvales,27.10,1.50,5.30,147,6.75
7,Ficus,Fig,68,Moraceae,Rosales,19.00,0.80,0.30,74,16.00
8,Ribes,Gooseberry,69,Grossulariaceae,Saxifragales,10.00,0.90,0.60,44,0.00
9,Vitis,Grapes,47,Vitaceae,Vitales,18.10,0.72,0.16,69,15.48
10,Malus,GreenApple,72,Rosaceae,Rosales,3.10,0.40,0.10,21,6.40
11,Psidium,Guava,37,Myrtaceae,Myrtales,14.00,2.60,1.00,68,9.00
12,Apteryx,Kiwi,66,Actinidiaceae,Struthioniformes,15.00,1.10,0.50,61,9.00
13,Citrus,Lemon,26,Rutaceae,Sapindales,9.00,1.10,0.30,29,2.50
14,Citrus,Lime,44,Rutaceae,Sapindales,8.40,0.30,0.10,25,1.70
15,Vaccinium,Lingonberry,65,Ericaceae,Ericales,11.30,0.75,0.34,50,5.74
16,Litchi,Lychee,67,Sapindaceae,Sapindales,17.00,0.80,0.44,66,15.00
17,Mangifera,Mango,27,Anacardiaceae,Sapindales,15.00,0.82,0.38,60,13.70
18,Cucumis,Melon,41,Cucurbitaceae,Cucurbitaceae,8.00,0.00,0.00,34,8.00
19,Citrus,Orange,2,Rutaceae,Sapindales,8.30,1.00,0.20,43,8.20
20,Carica,Papaya,42,Caricaceae,Caricacea,11.00,0.00,0.40,43,1.00
21,Passiflora,Passionfruit,70,Passifloraceae,Malpighiales,22.40,2.20,0.70,97,11.20
22,Pyrus,Pear,4,Rosaceae,Rosales,15.00,0.40,0.10,57,10.00
23,Diospyros,Persimmon,52,Ebenaceae,Rosales,18.00,0.00,0.00,81,18.00
24,Ananas,Pineapple,10,Bromeliaceae,Poales,13.12,0.54,0.12,50,9.85
25,Prunus,Plum,71,Rosaceae,Rosales,11.40,0.70,0.28,46,9.92
26,Rubus,Raspberry,23,Rosaceae,Rosales,12.00,1.20,0.70,53,4.40
27,Fragaria,Strawberry,3,Rosaceae,Rosales,5.50,0.80,0.40,29,5.40
28,Solanum,Tomato,5,Solanaceae,Solanales,3.90,0.90,0.20,74,2.60
29,Spondias,Umbu,73,Anacardiaceae,0,0.00,0.00,0.00,0,0.00
30,Citrullus,Watermelon,25,Cucurbitaceae,Cucurbitales,8.00,0.60,0.20,30,6.00

In [142]:
df2 = pd.json_normalize(results)
df2

cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

#In this Exercise, find out how many calories are contained in a banana.

Banana = df2.loc[df2["name"] == 'Banana']
Banana.iloc[0]['nutritions.calories']

96

In [152]:
#Using requests.get("url") function, load your data.

import requests
response = requests.get("http://dog-api.kinduff.com/api/facts?number=5")
print(response.text)

#Retrieve results using json.loads() function.
ConvertDF = json.loads(response.text)

#Convert json data into pandas data frame.

DogFactsDF = pd.DataFrame(ConvertDF)
DogFactsDF

{"facts":["Puppies have 28 teeth and adult dogs have 42.","Dachshunds were originally bred to fight badgers.","The St. Bernard is the heaviest dog breed.","The Newfoundland has a water-resistant coat and webbed feet.","Dog noses are also very cute and easy to boop."],"success":true}

                                               facts  success
0      Puppies have 28 teeth and adult dogs have 42.     True
1  Dachshunds were originally bred to fight badgers.     True
2         The St. Bernard is the heaviest dog breed.     True
3  The Newfoundland has a water-resistant coat an...     True
4     Dog noses are also very cute and easy to boop.     True